.btn-blue {
    background-color:#FE7F2D;
    padding: 15px 20px;
    color: white ;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    width: 185px;
    text-align: center;
}

#button-right {
    margin-left: 15px;
}